<div class="headerbg">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="circle">
            
                </div>
            </div>
            <div class="col-lg-10">
                <h1>Suman S</h1>
                <p>Junior Software Developer</p> 
            </div>
           
        </div>
    </div>
  </div>

  <div class="container">

    <main class="row">
        <!---- *******Education ******-->
        <section class="col">
            <header class="title">
                <h3>Education</h3>
            </header>

            <div class="contents">
                <div class="box">
                    <h4>2018 -2022</h4>
                    <h6> BSC IT</h6>
                    <p>dqwihhfjkwnjnjocnewiuofniunn bieywhiuwneiuiuvnn
                        snkjnkldcm
                    </p>
                </div>

                <div class="box">
                    <h4>2018 -2022</h4>
                    <h6> Diploma</h6>
                    <p>dqwihhfjkwnjnjocnewiuofniunn bieywhiuwneiuiuvnn
                        snkjnkldcm
                    </p>
                </div>

                <div class="box">
                    <h4>2018 -2022</h4>
                    <h6> High School</h6>
                    <p>dqwihhfjkwnjnjocnewiuofniunn bieywhiuwneiuiuvnn
                        snkjnkldcm
                    </p>
                </div>
            </div>
        </section>

  
        <!---- *******END Education ******-->
        
 
        <!---- *******Experiance Start ******-->

        <section class="col">
            <header class="title">
                <h3>Experiance</h3>
            </header>

            <div class="contents">
                <div class="box">
                    <h4>2018 -2022</h4>
                    <h6> BSC IT</h6>
                    <p>dqwihhfjkwnjnjocnewiuofniunn bieywhiuwneiuiuvnn
                        snkjnkldcm
                    </p>
                </div>

                <div class="box">
                    <h4>2018 -2022</h4>
                    <h6> Diploma</h6>
                    <p>dqwihhfjkwnjnjocnewiuofniunn bieywhiuwneiuiuvnn
                        snkjnkldcm
                    </p>
                </div>

                <div class="box">
                    <h4>2018 -2022</h4>
                    <h6> High School</h6>
                    <p>dqwihhfjkwnjnjocnewiuofniunn bieywhiuwneiuiuvnn
                        snkjnkldcm
                    </p>
                </div>
            </div>
        </section>
  <!---- ******* End Experiance Start ******-->

    </main>
  </div>